$color_primary: #55c57a;
$color_primary_light: #7ed56f;
$color_primary_dark: #28b485;

// ========== height ===========
$min_height: 42px;

// ============= font darkness =========

$extra_light: 100;
$light: 400;
$light-dark: 500;
$dark: 800;
