@import '../../sass/main';
.movie-card {
    width: 100%;
    height: 100%;
    display: flex;    
    .poster {
        width: 100%;
        position: relative;
        img {
            height: 100%;
            width: 100%;
        }
        .name {
            position: absolute;
            bottom: 0;
            width: 100%;
            color: white;
            background: black;
            height: 24px;
            display: flex;
            font-size: 0.8rem;
            align-items: center;
        }
    }
    .title {
        position: absolute;
        width: 100%;
        height: $min_height;
        bottom: 0;
    }
    .visit-tile {
        width: 100%;
        height: 100%;
        padding: 1rem 0.2rem;
        display: flex;
        justify-content: space-between;;
        flex-direction: column;
        background-image: linear-gradient(to bottom right, #008000a8, #ffd70078);
        .rating {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;  
            .icon {
                color: gold;
            }
            .points {
                display: flex;
                flex-direction: column;
                .vote_count {
                    font-size: 0.7rem;
                    
                }
            }
        }
        .btn {
            padding: 0.25rem 0.5rem;
            transform: scale(0.7);
            border-radius: 5px;
            display: flex;
            background: #00640066;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            &:hover {
                background: darkgreen;
            }
        }
    }
}



.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 100%;
    margin: 0 2px;
    
    &__side {
        height: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;

        &--front {
            
        }

        &--back {
            transform: rotateY(180deg);
        }
    }
  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}