.card {
    display: flex;
    padding: 0;
    height: 3rem;
    .common {
        display: flex;
        align-items: center;
        /deep/ .mat-form-field-underline {
            height: 0 !important;
        }
        /deep/ .mat-form-field {
            width: 100% !important;
            margin-top: 0.5rem;
        }
    }
    .search-field {
        width: calc(100% - 8.5rem);
        padding: 1rem;
    }
    .combo-field {
        width: 6rem;
        padding: 0.25rem;
    }
    .search-button {
        width: 2.5rem;
        justify-content: center;
        background-color: gold;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        border-top-right-radius: 4px;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
